@import "../../assets/styles/variables.scss";

.signup-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  & > div {
    display: inline-block;
    
    &:first-child {
      margin-right: 50px;
    }
  }
}