@import "./assets/styles/variables.scss";
@import url('../node_modules/@fortawesome/fontawesome-free/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'ProximaNova-Regular', -apple-system, 'Segoe UI', Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;;
  box-sizing: border-box;
}

body {
  background-color: $background-color-primary;
}

a {
  color: black;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.hint {
  color: $color-gray2;
  font-size: $font-size-small;
  margin-bottom: 10px;
}

.error-message {
  color: $color-red;
  font-size: $font-size-small;
  margin-bottom: 10px;
}

.active-link {
  color: $color-primary !important;
}