@import "../../assets/styles/variables.scss";

.email-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;

  i {
    color: $color-primary;
  }

  .text {
    margin-top: 20px;
    text-align: center;
  }
}