@import "../../../assets/styles/variables.scss";

.ac-drop-down {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  & label {
    margin-bottom: 5px;
    margin-right: 5px;
  }

  & label.error {
    color: $color-red;
  }

  .drop-down-input {
    width: 250px;
    height: 35px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: $font-size-default;

    &.-open {
      border: 1px solid $color-primary;
    }

    .chevron {
      color: #D0D0D0;
    }
    .drop-down-list {
      position: absolute;
      list-style-type: none;
      background-color: $background-color-white;
      border: 1px solid #D0D0D0;
      border-radius: 4px;
      top: 37px;
      right: -2px;
      z-index: 10;

      & li {
        width: 250px;
        height: 35px;
        padding: 8px;

        &:hover {
          background-color: $color-primary;
          color: $background-color-white;
        }
      }
    }
  }

  .error-msg {
    height: 12px;
    color: $color-red;
    font-size: $font-size-small;
  }
}