@import "../../assets/styles/variables.scss";

.project-page {
  .button-container {
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .dates {
    font-weight: bold;
    font-size: $font-size-large;
  }

  .content {
    margin-top: 20px;
    line-height: 30px;
    text-align: justify;
  }

  .actions {
    margin-top: 20px;

    & button {
      margin-bottom: 10px;
    }
  }
}