@import "../../assets/styles/variables.scss";

.project-page {
  .dates {
    font-weight: bold;
    font-size: $font-size-large;

    .date {
      display: flex;
      align-items: center;

      & > i {
        margin-left: 10px;
      }

      &.-propose {
        color: $color-green;
      }

      &.-voting {
        color: $color-yellow;
      }
    }
  }

  .content {
    margin-top: 20px;
    line-height: 30px;
    text-align: justify;
  }

  .actions {
    margin-top: 20px;
    margin-bottom: 20px;
    
    & button {
      margin-bottom: 10px;
    }
  }

  .divider {
    height: 0px;
    width: 100%;
    border-bottom: 1px solid $color-gray2;
    margin: 20px 0;
  }

  .direction-block {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
}