@import "../../assets/styles/variables.scss";

.signin-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  
  & > div {
    flex-direction: column;

    .link {
      margin-top: auto;
      color: gray;
      font-size: $font-size-default;
      text-decoration: underline;
      cursor: pointer;
      width: max-content;

      &:hover {
        color: $color-primary;
      }
    }
  }
}