@import "../../../assets/styles/variables.scss";

.ac-button {
  padding: 0 16px;
  height: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  transition: filter .1s linear;

  &.secondary {
    background-color: inherit;
    border: 1px solid $color-primary;
    color: $color-primary;
    text-transform: uppercase;

    &:hover {
      background-color: #c1e7f3;
    }
  }
  
  &.primary {
    background-color: $color-primary;
    color: $background-color-white;
    border-radius: 2px;

    &:hover {
      filter: brightness(0.8);
    }
  }

  &.negative {
    background-color: $color-red;
    color: $background-color-white;
    border-radius: 2px;

    &:hover {
      filter: brightness(0.9);
    }
  }

  &.positive {
    background-color: $color-green;
    color: $background-color-white;
    border-radius: 2px;

    &:hover {
      filter: brightness(0.9);
    }
  }

  &.disabled {
    background-color: $color-gray2;
    border: none;
    pointer-events: none;
    color: $background-color-white;
  }
}

